---
import Header from "../components/Header.astro";
import TierList from "../components/TierList.astro";
---

<html>
    <div><Header/></div>
    <div>
        <h1 id="Greet">Lets rate all the distros we know on a tier list!</h1>
    </div>
    <div><TierList/></div>
</html>


<style>
   
   html, body {
        margin: 0; 
   }

    #Greet {
        text-align: center;
    }


</style>
