---
import Header from "../components/Header.astro";
import TierList from "../components/TierList.astro";
---

<html>
    <div><Header/></div>
    <div>
        <h1 id="Greet">Lets rate all the distros we know on a tier list with Drag N Drop!</h1>
    </div>
    <div><TierList/></div>
    <div id="GifList">
    </div>
</html>

<style>
   
   html, body {
        margin: 0; 
   }

    #Greet {
        text-align: center;
    }
    
    #GifList {
        border: solid black 3px;
        height: 12.5vh;
        width: 60vw;
        margin: auto;
        margin-top: 40px;
    }


</style>
