---
import Header from "../components/Header.astro";
import TierList from "../components/TierList.astro";
import FormModal from "../components/FormModal.astro";
---

<html>
    <div><Header/></div>
    <div>
        <h1 id="Greet">Lets rate all the distros we know on a tier list with a Form!</h1>
    </div>
    <div><TierList/></div>
    <div id="ButtonDiv">
        <button id="RateButton">Rate Distro</button>
    </div>
    <FormModal />
</html>
<script src="../scripts/distroscriptForm.ts"></script>

<style>
   
   html, body {
        margin: 0; 
   }

    #Greet {
        text-align: center;
    }

    #RateButton {
        height: 40px;
        width: 80px;
        margin: auto;
    }

    #ButtonDiv {
        display: flex;
        margin: 40px;
        justify-content: center;
    }


</style>
