---
import Header from "../components/Header.astro";
import TierList from "../components/TierList.astro";
---


<div><Header/></div>
<div>
    <h1 id="Greet">Lets rate all the distros we know on a tier list!</h1>
</div>
<div><TierList/></div>



<style>
    
    #Greet {
        text-align: center;
    }


</style>
