---

---


<div>
    <ul class="HeaderList">
        <li>Home</li>
        <li>Distro List</li>
    </ul>
</div>

<style>

    .HeaderList {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        font-size: 25px;
    }



</style>
