---

---


<div class="Header">
    <ul class="HeaderList">
        <li><a href="/">Home</a></li>
        <li><a href="/distros-drag-n-drop">Distro List DRAG N DROP</a></li>
        <li><a href="/distros-form">Distro List FORM</a></li>
    </ul>
</div>

<style>
    

    .Header {
        margin: 0;
        background: cornflowerblue;
        height: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .HeaderList {
        display: flex;
        width: 100vw;
        justify-content: space-evenly;
        list-style: none;
        font-size: 25px;
        margin: 0;
    }




</style>
