---

---


<div class="Header">
    <ul class="HeaderList">
        <li><a class='link' href="/">Home</a></li>
        <li><a class='link' href="/distros-drag-n-drop">Distro List DRAG N DROP</a></li>
        <li><a class='link' href="/distros-form">Distro List FORM</a></li>
    </ul>
</div>

<style>
    

    .Header {
        margin: 0;
        background: royalblue;
        border: solid black 2px;
        height: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .HeaderList {
        display: flex;
        width: 100vw;
        justify-content: space-evenly;
        list-style: none;
        font-size: 25px;
        margin: 0;
    }

    .link {
        text-decoration: none;
        color: black;
    }

    .link:hover {
        color: white;
    }


</style>
